import os

worlds["Map"] = os.environ['worlds_dir'] + '/world'

end_smooth_lighting = [Base(), EdgeLines(), SmoothLighting(strength=0.5)]

renders["survivalday"] = {
   "world": "Map",
   "title": os.environ["map_id"],
   "center": [0,64,0],
   "crop": (-20000, -20000, 20000, 20000),
   "rendermode": "smooth_lighting",
   "maxzoom": -2,
   "renderchecks": 0,
   "rerenderprob": 0.1,
   "imgformat": "jpg",
   "imgquality": 60
}

renders["cave"] = {
   "world": "Map",
   "title": os.environ["map_id"] + " Caves",
   "center": [0,64,0],
   "crop": (-20000, -20000, 20000, 20000),
   "rendermode": "cave",
   "dimension": "overworld",
   "maxzoom": -2,
   "renderchecks": 0,
   "rerenderprob": 0.1,
   "imgformat": "jpg",
   "imgquality": 60
}

outputdir = os.environ['render_output']
